body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: pink;
  }

header {
    font-size: large;
    margin: auto;
    width: 50%;
    margin-bottom: 100px;
}

h1, div {
    text-align: center;
}

#main_button-frontpage{
    margin: auto;
    width: 30%;
    margin-bottom: 1000px;
  }

#main_button-frontpage .circle button {
    border: 10px solid white;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    display: inline-block;
    background-image: url("../images/IMG_8894.jpg");
    background-size: 100%;
    background-position: 50% 10%;
}

#main_button-frontpage .circle:hover + .hide {
    display:block;
}

#main_button-frontpage .hide {
    display: none;
}

#projects {
    animation-name: floating;
    animation-duration: 3s;
    position: relative;
    left: 100px;
}