* {
    outline: 2px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body, html {
    background-image: linear-gradient(to left, rgb(241, 171, 183), rgb(199, 94, 125));
    place-items: center;
  }

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 10%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.navlist {
    display: flex;
}

.navlist a {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 60px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

main {
    margin: 0 auto;
    padding: 100px 100px;
}

.filtering {
    padding: 50px 50px;
}

.card-group {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    
}

.card {
    width: 30vmin;
    aspect-ratio: 4/3;
    background-color: white;
    border-radius: 1vmin;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 30%;
    background: transparent;
    display: flex;
}

.social-media {
    margin: 0 auto;
}

.social-media a {
    margin-left: 10px;   
}

.social-media svg {
    transition: all .55s ease;
}

.social-media svg:hover {
    transform: scale(1.5);
}

.social-media ul {
    display: flex;
}